{% extends 'blog/base.html' %}
{% block content %}
    <div class="mainContent">
        {% for post in posts %}
            <div class="mainContent-tool">
                <div class="mainContent-title">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
                    <p>published_date: {{post.published_date}}</p>
                </div>
                <p class="mainContent-text">{{post.text|linebreaksbr}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}